<h1>Statistics</h1>

<table border="1">

<%= debug  params %>
<%= debug  @statistics %>
<tr>
	<th>Game Time</th>
	<th>Seen Time</th>
	<th>Game ID</th>
	<th>Home Goals</th>
	<th>Home Penalties</th>
</tr>
<tr>
</tr>