// Place all the styles related to the goodForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: "Trebuchet MS", Arial, Helvetica, sans-serif;
$primary-color: #333;
$background-color:Azure;
$header-color:CadetBlue;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

/*
 * Table styles
 */
table.display {
	width: 100%;
	clear: both;
}

table.display td,
table.display th {
	padding: 5px;
	border: 1px solid #fff;
}

/* Header cells */
table.display thead th {
	text-align: left;
	background: $header-color;
	color:#ffffff;
}

/* Body cells */
table.display tbody th {
	text-align: left;
	background: $background-color;
}
	
table.display tbody td {
	text-align: left;
	background: $background-color;
}
		
table.display tbody tr.odd td { 
	background: $background-color;
}

/* Footer cells */	
table.display tfoot th {
	background: $background-color;
	text-align: left;
}
	
table.display tfoot td {
	background: $background-color;
	text-align: left;
	font-weight: bold;
}