<h1><%= @team.name %></h1>

<table border="1">
<tr>
<td>TEAM ID</td>
<td><%= @team.id %></td>
</tr>

<% @game.each do |game| %>
	<tr>
	<td>GAME ID</td>
	<td><%= game.id %></td>
	</tr>
<% end %>

<small><%= @team.created_at %></small>